// These colors are specific to the theme. Do not use in a package!

@very-light-gray: hsl(230, 6%, 76%);
@gray: #373b41;
@dark-gray: hsl(220, 10%, 35%);
@very-dark-gray: hsl(224, 13%, 23%);
@light-gray: saturate(mix(@very-light-gray, @very-dark-gray, 65%), 8%);

@cyan: hsl(183, 40%, 58%);

@blue:   @cyan;
@purple: @cyan;
@orange: hsl(20, 70%, 65%);
@green:  @orange;
@red:    #cc6666;
@light-orange: hsl(36, 32%, 72%);
