// These colors are specific to the theme. Do not use in a package!

@very-light-gray: hsl(230, 10%, 77%);
@gray: #3d424b;
@dark-gray: hsl(220, 10%, 35%);
@very-dark-gray: hsl(231, 12%, 22%);
@light-gray: saturate(mix(@very-light-gray, @very-dark-gray, 67%), 7%);

@cyan: hsl(182, 40%, 60%);

@blue:   @cyan;
@purple: @cyan;
@orange: hsl(17, 68%, 65%);
@green:  @orange;
@red:    #cc6666;
@light-orange: hsl(36, 34%, 72%);
